<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 mx-auto mt-5">
        <h1>Change Password</h1>
          <form [formGroup]="resetForm" (ngSubmit)="onReset()">
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                formControlName="password"
                class="form-control">
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters long.
              </div>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!resetForm.valid">Change Password</button>
          </form>
        </div>
    </div>
</div>
